body{
    background-image: url('../img/back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /*text-align:center;*/
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:#f4f4f4;
  }
  
  /* Global */
  .container{
    width:80%;
    margin:auto;
    overflow:hidden;
  }
  
  .logo{
    height: 8%;
    width: 8%;
    vertical-align: middle;
    float:left;
    padding-right: 1px;
  }
  
  ul{
    margin:0;
    padding:0;
  }
  
  .button_1{
    height:38px;
    background:#e8491d;
    border:0;
    padding-left: 20px;
    padding-right:20px;
    color:#ffffff;
  }
  
  .dark{
    padding:15px;
    background:#35424a;
    color:#ffffff;
    margin-top:10px;
    margin-bottom:10px;
  }
  
  /* Header **/
  header{
    background:#17A9D1;
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom:#ffffff 3px solid;
  }
  
  header a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
  }
  
  header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
  }
  
  header #branding{
    float:left;
  }
  
  header #branding h1{
    margin:0;
    padding-top: 1%;
    width:60%;
    padding-right: 30px;
  }
  
  header nav{
    float:right;
    padding-top:1.5%;
  }
  
  header .highlight, header .current a{
    color:rgb(255, 255, 255);
    font-weight:bold;
    margin-left: 15px;
  }
  
  header a:hover{
    color:#cccccc;
    font-weight:bold;
  }
  
  /* Showcase */
  #showcase{
    /*background-image:url('../img/back.jpg'); */
    text-align:center;
    color:#ffffff;
  }
  
  #showcase h1{
    margin-top:100px;
    font-size:55px;
    margin-bottom:10px;
  }
  
  #showcase p{
    font-size:20px;
  }
  
  /* Newsletter */
  #newsletter{
    padding:15px;
    color:#ffffff;
    background:#35424a
  }
  
  #newsletter h1{
    float:left;
  }
  
  #newsletter form {
    float:right;
    margin-top:15px;
  }
  
  #newsletter input[type="email"]{
    padding:4px;
    height:25px;
    width:250px;
  }
  
  /* Main-col */
  article#main-col{
    float:left;
    width:65%;
  }
  
  /* Services */
  ul#services li{
    list-style: none;
    padding:20px;
    border: #cccccc solid 1px;
    margin-bottom:5px;
    background:#e6e6e6;
  }
  
  
  /* Media Queries */
  @media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar{
      float:none;
      text-align:center;
      width:100%;
    }
  
    header{
      padding-bottom:20px;
    }
  
    #showcase h1{
      margin-top:40px;
    }
  
    #newsletter button, .quote button{
      display:block;
      width:100%;
    }
  
    #newsletter form input[type="email"], .quote input, .quote textarea{
      width:100%;
      margin-bottom:5px;
    }
  }
  
  form{
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    color: white;
    font-size: 0.8em;
    padding: 20px;
    margin: 0 auto;
    width: 300px;
    font-weight: bold;
    }
    
    input{
    border-radius: 3px;
    outline: none;
    width: 240px;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    }
    
    input[type=number]{ 
        -moz-appearance:textfield; /* Esto es para que en el input de introducir el desplazamiento, 
                 no aparezca las flechitas de subir y bajar el valor. */
    }
  
  